<base href="/">
<mat-toolbar color="red">
  <mat-toolbar-row>
    <span class="mat-headline">
      Ohio State Energy Usage Dashboard
    </span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <div class="toolbar-grid mat-title">
      <button mat-raised-button class="toolbar-button" routerLink="home"> Home </button>
      <button mat-raised-button class="toolbar-button" routerLink="buildings"> Buildings </button>
      <button mat-raised-button class="toolbar-button" routerLink="predictions"> Predictions </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="router-container">
  <router-outlet></router-outlet>
</div>
